:root {

  --animate-duration: 100ms;
  --animate-delay: 0.9s;

  /*------ Brand Colors----- */

  --color00: #ffffff;
  --color01: #ebebeb;
  --color02: #cdff82;
  --color03: #ffc2c2;
  --color04: #8eddff;
  --color05: #ffe683;
  --color06: #262626;

  --gradient01: linear-gradient(50deg, #ffe683 0%, #ffc2c2 33%, #8eddff 66%, #cdff82 100%);

  /*----- Black Color % ---- */

  --black01: #00000003;
  --black02: #03010105;
  --black03: #00000008;
  --black04: #0000000a;
  --black05: #0000000d;
  --black10: #0000001a;
  --black20: #00000033;
  --black30: #0000004d;
  --black40: #00000066;
  --black50: #00000080;
  --black60: #00000099;
  --black70: #000000b3;
  --black80: #000000cc;
  --black90: #000000e6;
  --black95: #000000f2;

  /* --------- Font --------- */

  /* ######### REMOVER VAR ANTIGAS ######### */

  --headings-font: "Poppins", sans-serif;
  --paragraph-font: "Inter", sans-serif;
  --code-font: "JetBrains Mono;", monospace;
  --button-font: "Inter", sans-serif;


  /* --- Paragraph Font ---*/

  --paragraph-font-family: "Inter", sans-serif;
  --paragraph-font-letter-spacing: -0.5px;
  --paragraph-font-line-height: 27px;
  --paragraph-font-weight: 400;

  /* --- Quote Font ---*/

  --quote-font-family: "'Source Serif Pro", serif;
  --quote-font-letter-spacing: -0.1px;
  --quote-font-line-height: 30px;
  --quote-font-weight: 400;

  /* ------ Font Size ------- */

  --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --font-size-xxl: clamp(2.44rem, 1.3vw + 2.12rem, 3.16rem);
  --font-size-xxxl: clamp(3.05rem, 2.1vw + 2.53rem, 4.21rem);

}