    /* ------------ Headings ----------- */
    h1 {
      font-family: 'Outfit', sans-serif;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }

    h2 {
      font-family: 'Outfit', sans-serif;
      font-size: 35px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }



    h3 {
      font-family: 'Outfit', sans-serif;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }

    h4 {
      font-family: 'Outfit', sans-serif;
      font-size: 25px;
      font-weight: 600;
      text-align: left;
      letter-spacing: -1px;
      margin: 5px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }

    h5 {
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      letter-spacing: -1px;
      margin: 5px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }

    h6 {
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      letter-spacing: -1px;
      margin: 5px 0px 5px 0px;
      padding: 0px 0px 5px 0px;
    }


    .h1float {
      font-family: 'Outfit', sans-serif;
      font-weight: 500;
      font-size: 25px;
      letter-spacing: -1px;
      padding: 0px 0px 0px 0px;
      display: inline-block;
    }

    .HeadingIcon {
      display: inline-block;
      font-size: 25px;
      background-color: #e9ffbf00;
      text-align: center;
      border-radius: 0px;
      color: #000000e3;
      padding: 5px 5px 5px 5px;
    }

    .Headings {
      display: inline-block;
    }

    .CenterText {
      text-align: center;
    }

    .MailBoxText {
      text-align: center;
    }

    .SocialMailBox {
      text-align: center;
      align-content: center;
    }

    /*--------------------- Resposiver Grid Wrapper ------------------------*/

    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 15px;
    }

    .box {
      transition: all 0.2s ease-in-out;
      background-color: #fafafa;
      color: #272727;
      border-radius: 35px;
      padding: 20px;
      width: auto;
      height: auto;
      max-width: auto;
      min-width: auto;
    }

    .box:hover {
      border-radius: 20px;
      background-color: #f1f1f1;
      transition: all 0.3s ease-in-out;
    }

    img.FollowImg {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      transition: all 0.5s ease-in-out;
    }

    img.FollowImg:hover {
      border-radius: 15px;
      transition: all 0.5s ease-in-out;
    }

    /*----------- Paragraphs / Quotes / Codeblocks -----------*/


    p {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-style: normal;
      letter-spacing: -0.5px;
      line-height: 27px;
      text-align: justify;
      text-justify: inter-word;
    }

    q {
      font-family: 'Source Serif Pro', serif;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      color: #000000af;
      letter-spacing: -0.7px;
      line-height: 27px;
      text-align: justify;
      text-justify: inter-word;
    }

    blockquote {
      font-family: 'Source Serif Pro', serif;
      font-size: 21px;
      font-weight: 400;
      font-style: italic;
      color: #000000bb;
      border-left: 5px solid #55555542;
      background: #ffffff00;
      margin: 0px 0px 0px 0px;
      padding: 15px 30px 15px 25px;
      letter-spacing: -0.7px;
      line-height: 25px;
      text-align: justify;
      text-justify: inter-word;
      max-width: auto;
      min-width: auto;
    }


    pre code {
      background-color: #271036;
      border: 1px solid #0000002a;
      border-radius: 15px;
      display: block;
      padding: 0px 10px 15px 25px;
      color: #13ffff;
      font-size: 17px;
      font-family: JetBrains Mono;
      white-space: pre-line;
    }

    code {
      padding-left: 10px;
      background-color: #271036;
      border-radius: 5px;
      padding: 3px 5px 3px 5px;
      color: #13ffff;
      font-weight: 300;
      text-align: left;
      font-family: JetBrains Mono;
      white-space: pre;
    }


    /*------- Line / Callout */

    hr {
      width: 100%;
      size: 1px;
      color: #0000005b;
      border: 0.5px solid #0000002f;
    }

    hr.divisor {
      border: 0;
      height: 0;
      border-top: 1px solid #0000001a;
      border-bottom: 1px solid #ffffff4d;
    }


    /* ------------------ Links ---------------------------*/
    a {
      font-size: 18px;
      letter-spacing: -0.7px;
      text-decoration: none;
      color: #000000d2;
      transition: all 0.2s ease-in-out;

    }

    a:hover {
      color: #5465ff;
      transition: all 0.2s ease-in-out;
    }


    .linkpost {
      font-size: 18px;
      letter-spacing: -0.7px;
      border-bottom: 2px solid #ffc354;
      background-color: #30303000;
      padding: 4px 3px 1px 3px;
      border-radius: 0px;
      color: #303030d8;
    }

    .linkpost:hover {
      background-color: #ffb52c36;
      border-bottom: 2px solid #ffb52c36;
      border-radius: 0px;
      padding: 4px 3px 1px 3px;
      color: #303030b0;
    }

    /*--------------------- Buttons ---------------------------*/

    button {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000000e1;
      background-color: #EBEBEB;
      padding: 5px 20px 6px 20px;
      border: 1px solid #EBEBEB;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s;
      display: inline-block;
      margin: auto;
      height: 50px;
    }

    button:hover {
      color: #000000e1;
      border-radius: 50px;
      border: 1px solid #00000011;
      background-color: #EBEBEB;
      transition: all 0.3s;
    }

    button:active {
      outline: none;
      border-radius: 10px;
      transition: all 0.3s;
    }

    .btnGreen {
      color: #000000e1;
      border: 1px solid #CDFF82;
      background-color: #CDFF82;
    }

    .btnGreen:hover {
      color: #000000e1;
      border: 1px solid #00000011;
      background-color: #CDFF82;

    }

    .btnRed {
      color: #000000e1;
      border: 1px solid #FFC2C2;
      background-color: #FFC2C2;
    }

    .btnRed:hover {
      color: #000000e1;
      border: 1px solid #00000011;
      background-color: #FFC2C2;
    }

    .btnBlue {
      color: #000000e1;
      ;
      border: 1px solid #8EDDFF;
      background-color: #8EDDFF;
    }

    .btnBlue:hover {
      color: #000000e1;
      border: 1px solid #00000011;
      background-color: #8EDDFF;
    }

    .btnYellow {
      color: #000000e1;
      border: 1px solid #FFE683;
      background-color: #FFE683;
    }

    .btnYellow:hover {
      color: #000000e1;
      border: 1px solid #00000011;
      background-color: #FFE683;
    }

    /*---------------- Selection ------------*/


    ::-moz-selection {
      color: #000000e1;
      background: #FFE683;
    }

    ::selection {
      color: #000000e1;
      background: #FFE683;
    }

    /*------------- Scrollbar -------------*/

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #e7e7e7;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #b8b8b8;
      border-radius: 0px;
      border: 0px solid #ffffff;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #535353;
    }

    /*------------------ Progress Bar ------------------*/

    /* Style the header: fixed position (always stay at the top) */
    .header {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      background-color: #ffffff;
    }

    /* The progress container (grey background) */
    .progress-container {
      width: 100%;
      height: 3px;
      background: #ffffff;
    }

    /* The progress bar (scroll indicator) */
    .progress-bar {
      height: 3px;
      background: #000000;
      width: 0%;
    }

    /* -------------- Scroll Menu "Section" ------------ */

    .scrollmenu {
      background-color: #a18b2900;
      border-radius: 15px;
      padding: 5px 0px 10px 0px;
      display: flex;
      flex-wrap: wrap;
    }

    .ScrollLink {
      flex: auto;
      color: black;
      padding: 15px 20px 15px 20px;
      margin: 5px 5px 5px 5px;
      border-radius: 100px;
      background-color: #ffffff;
      transition: all 0.3s ease-in-out;
    }

    .ScrollLink:hover {
      color: black;
      background-color: #ffffffee;
      transition: all 0.3s ease-in-out;
    }

    .ScrollLink:active {
      outline: none;
      border-radius: 10px;
      background-color: #ffffffee;
      transition: all 0.3s ease-in-out;
    }

    /*----------------- FlexBox ----------------------*/

    .ContentBox {
      background-color: #ffe67400;
      padding: 1px;
      margin: 10px auto auto auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 0px;
    }

    .FlexBox {
      flex: auto;
      color: black;
      padding: 15px 20px 15px 20px;
      margin: 2px 2px 2px 2px;
      border-radius: 45px;
      background-color: #f7f7f7;
      border: 2px solid #00000000;
      transition: all 0.3s ease-in-out;
    }

    .FlexBox:hover {
      border-radius: 20px;
      background-color: #fafafa;
      border: 2px solid #00000000;
      transition: all 0.3s ease-in-out;
    }

    .FlexBox:active {
      border: 2px solid #000000;
    }

    .FlexBoxNull {
      flex: auto;
      padding: 1px;
      margin: 2px 2px 2px 2px;
      border-radius: 45px;
      background-color: #ff000000;
      border: 2px solid #ff000000;
      block-size: fit-content;
      transition: all 0.3s ease-in-out;
    }

    .FlexBoxNull:hover {
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
    }

    .FlexBoxNull:active {
      background-color: #000000;
      border: 2px solid #000000;
      transition: all 0.3s ease-in-out;
    }

    .imgradius {
      width: 100%;
      block-size: fit-content;
      display: block;
      overflow: auto;
      border-radius: 42px;
      margin: 0px;
      transition: all 0.3s ease-in-out;
    }

    .imgradius:hover {
      border-radius: 18px;
      transition: all 0.3s ease-in-out;

    }

    /*----------------- Navbar ------------------------*/


    .topnav {
      top: 0;
      width: 100%;
      position: fixed;
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      font-weight: 400;
      border-bottom: 0px solid #00000000;
      margin: 0px auto 0px auto;
      backdrop-filter: blur(2px);
      background-color: #fffffff6;
      animation: fadeInDown;
      animation-duration: 3s;
      transition: all 0.1s ease-in-out;
    }

    .topnav a {
      float: left;
      display: block;
      color: #000000bd;
      text-align: center;
      padding: 14px 20px 16px 20px;
      text-decoration: none;
      font-size: 18px;
      transition: all 0.1s ease-in-out;
    }

    .active {
      background-color: #251212d5;
      color: #000000a9;
      width: 25px;
      height: 24px;
      margin: 0px;
      padding: 10px;
      border-radius: 0px;
      background-color: #b65c5c00;
      transition: all 0.1s ease-in-out;
    }

    a.active {
      padding-top: 10px;
      padding-bottom: 19px;
      padding-right: 25px;
    }



    .topnav .icon {
      display: none;
      transition: all 0.1s ease-in-out;
    }

    .dropdown {
      float: left;
      overflow: hidden;
      margin: 0px auto 0px auto;
      background-color: #ff919100;
      border-radius: 0px;
      transition: all 0.1s ease-in-out;
    }

    .dropdown .dropbtn {
      font-size: 18px;
      border: none;
      outline: none;
      color: #000000b2;
      padding: 15px 20px 22px 20px;
      margin: 0px auto 0px auto;
      border-radius: 0px;
      background-color: inherit;
      font-family: inherit;
      transition: all 0.1s ease-in-out;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      border-radius: 0px 0px 0px 0px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px #9c9c9c1e;
      z-index: 1;
      transition: all 0.1s ease-in-out;
    }

    .dropdown-content a {
      float: none;
      color: #3a3a3a;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      transition: all 0.1s ease-in-out;
    }

    .topnav a:hover,
    .dropdown:hover .dropbtn {
      background-color: #00000000;
      color: #1b1b1b;
      border-radius: 0px 0px 0px 0px;
      -webkit-box-shadow: inset 0px -3px 0px 0px #3a3a3a;
      box-shadow: inset 0px -3px 0px 0px #3a3a3a;
      transition: all 0.3 ease-in-out;
    }

    .dropdown-content a:hover {
      background-color: #00000013;
      border-radius: 0px 0px 0px 0px;
      color: #3a3a3a;
      transition: all 0.1s ease-in-out;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      transition: all 0.1s ease-in-out;
    }

    @media screen and (max-width: 1000px) {

      .topnav a:not(:first-child),
      .dropdown .dropbtn {
        display: none;
      }

      .topnav a.icon {
        height: 27px;
        float: right;
        display: block;
      }

      a.active {
        float: left;
      }
    }

    @media screen and (max-width: 900px) {
      .topnav.responsive {
        position: relative;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

      .topnav.responsive .dropdown {
        float: none;
      }

      .topnav.responsive .dropdown-content {
        position: relative;
      }

      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

    /*----------------- Media----------------------*/


    @media screen and (max-width: 600px) {

      .topnav a:not(:first-child),
      .dropdown .dropbtn {
        display: none;
      }

      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav.responsive {
        position: fixed;
      }

      .topnav.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

      .topnav.responsive .dropdown {
        float: none;
      }

      .topnav.responsive .dropdown-content {
        position: relative;
      }

      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

    /*------------------ Revue Newsletter ------------------*/

    .newsletter {
      margin: auto;
      text-align: center;
    }

    #revue-embed {
      margin: auto;
    }

    input.revue-form-field {
      border-top-width: 1px;
      padding: 10px;
      border: 1px solid #404040;
      border-radius: 5px;
      margin-top: 10px;
      height: 25px;
      width: 250px;
      background-color: #ffffff;
      color: #404040;
      font-family: Inter;
      font-size: 16px;
      border-style: solid;
      border-color: #cccccc;
      margin-bottom: 10px;

    }

    #member_submit {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000000e1;
      background-color: #EBEBEB;
      padding: 15px 10px 15px 10px;
      border: 1px solid #EBEBEB;
      border-radius: 105px;
      cursor: pointer;
      transition: all 0.3s;
      display: inline-block;
      width: 275px;
      margin: 10px 0px 20px 0px;
    }

    form div label {
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
    }


    .revue-form-footer {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 25px;
    }