  /* ------ Font Size ------- */

  :root{
  --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --font-size-xxl: clamp(2.2rem, 1.2vw + 2.0rem, 4.0rem);
  --font-size-xxxl: clamp(2.8rem, 2.0vw + 4.2rem, 4.8rem);
}

/* Estilos para celulares com largura menor que 400px */
@media only screen and (max-width: 399px) {

    .PageTitle {
        font-size: var(--font-size-md);
        letter-spacing: -1px;
    }
}
/* Estilos para dispositivos pequenos (telefones) */
@media only screen and (max-width: 600px) {

    /* --- root --- */
    h1{var(--font-size-xxl)}    
    h2{
        font-size: var(--font-size-lg);
        letter-spacing: -1px;
        font-weight: 600;
        line-height: 2.0rem;
    }
    h3{var(--font-size-md)}
    h4{var(--font-size-md)}
    h5{var(--font-size-base)}
    h6{var(--font-size-base)}

    /* --- navbar --- */

    .NameLink {
        font-size: var(--font-size-base);
        padding: 0px;
    }

    /* --- body --- */

    .PageTitle {
        font-size: var(--font-size-xl);
        letter-spacing: -1px;
    }

    button {
        font-size: var(--font-size-md);
        padding: 8px 18px;
    }

    .Header-Container {
        padding: 0.2em 2em;
    }
    .ContentBoxFlex {
        flex-direction: column;
    }

    .Container-Default {
        padding: 2.8em 0em;
    }

    .Flex-Inner {
        padding: 8px 0px 0px 0px;
        align-items: center;
        flex-direction: column;
    }

    .div-size{
        width: 95%;
      }

}

/* Estilos para tablets em modo retrato e telefones grandes */
@media only screen and (min-width: 601px) and (max-width: 767px) {

    /* --- root --- */
    h1{var(--font-size-lg)}
    h2{var(--font-size-md)}
    h3{var(--font-size-md)}
    h4{var(--font-size-md)}
    h5{var(--font-size-base)}
    h6{var(--font-size-base)}

    /* --- navbar --- */

    .NameLink {
        font-size: var(--font-size-base);
        padding: 0px;
    }

    /* --- body --- */

    .PageTitle {
        font-size: var(--font-size-xl);
        letter-spacing: -1px;
    }

    button {
        font-size: var(--font-size-md);
        padding: 8px 18px;
    }

    .Header-Container {
        padding: 0.2em 2em;
    }
    .ContentBoxFlex {
        flex-direction: column;
    }

}


/* Estilos para tablets em modo paisagem */
@media only screen and (min-width: 768px) and (max-width: 991px)

    {

        /* --- root --- */
        h1{var(--font-size-xl)}
        h2{var(--font-size-md)}
        h3{var(--font-size-md)}
        h4{var(--font-size-md)}
        h5{var(--font-size-base)}
        h6{var(--font-size-base)}
    
        /* --- navbar --- */
    
        .NameLink {
            font-size: var(--font-size-sm);
            padding: 0px;
        }
    
        /* --- body --- */
    
        .PageTitle {
            font-size: var(--font-size-xl);
            letter-spacing: -1px;
        }
    
        button {
            font-size: var(--font-size-md);
            padding: 8px 18px;
        }
    
        .Header-Container {
            padding: 0.2em 2em;
        }
        .ContentBoxFlex {
            flex-direction: column;
        }
    
    }
    



/* Estilos para laptops e desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* ... */
}

/* Estilos para laptops e desktops maiores */
@media only screen and (min-width: 1200px) {
    /* ... */
}