body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.BoxContainer{
    background-color: #ffccaf;
    margin: 0%;
    padding: 10% 0% 10% 0% ;
}

.navbarLeft{
    align-items: stretch;
    background-color: #c2ffaf;  
    float: left;  
    position: relative;
    width: 100px;
}

.BoxContContent{
    background-color: #868b33;
    margin: auto;
    margin-left: 0%;
    position: initial;
    float: left;
    align-items: stretch;
    padding: 0%;
}
.ContentFist{
    align-items: stretch;
    background-color: #afe6ff;
    width: 100px;
    min-width: 100px;
    padding: 1%;
}

.ContentSecond{
/*
    background-color: #6f00ff;
    width: 750px;
    min-width: 676px;
    padding: 1%;
*/

}

.ContentThird{
 /*
    background-color: #ffafc7;
    width: 750px;
    min-width: 676px;
    padding: 1%;
 */  

}

.a2a_button_facebook .a2a_button_twitter .a2a_button_telegram{
    border-radius: 100px;
}