

body {
  padding: 0px;
  margin: 0px;
  background-color: #f8f8f815;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
 
.PageTitle {
  font-family: "Poppins", sans-serif;
  color: #00000000;
  -webkit-text-stroke: 1.5px #1a1a1a;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  margin-top: 5px;
  padding: 0px 0px 0px 0px;
  letter-spacing: -1px;
  float: center;
  transition: all 0.2s ease-in-out;
  animation: flip;
  animation-duration: 1s;
}

.PageTitle:hover {
  transition: all 0.2s ease-in-out;
  -webkit-text-stroke: 1.5px #1a1a1a;
  color: #1a1a1a;
}


.content {
  background-color: #1cca1c;
  display: grid;
  margin: auto;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  width: 950px;
}
