:root {

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  transition: all 0.3s ease-in-out;

  --animate-duration: 100ms;
  --animate-delay: 0.5s;

  /*------ Brand Colors----- */

  --color00: #ffffff;
  --color01: #ebebeb;
  --color02: #cdff82;
  --color03: #ffc2c2;
  --color04: #8eddff;
  --color05: #ffe683;
  --color06: #141414;

  --gradient01: linear-gradient(50deg, rgba(255, 230, 131, 1) 0%, rgba(255, 194, 194, 1) 33%, rgba(142, 221, 255, 1) 66%, rgba(205, 255, 130, 1) 100%);

  /*----- Black Color % ---- */

  --black01: #00000003;
  --black02: #03010105;
  --black03: #00000008;
  --black04: #0000000a;
  --black05: #0000000d;
  --black10: #0000001a;
  --black20: #00000033;
  --black30: #0000004d;
  --black40: #00000066;
  --black50: #00000080;
  --black60: #00000099;
  --black70: #000000b3;
  --black80: #000000cc;
  --black90: #000000e6;
  --black95: #000000f2;

  /* --------- Font --------- */

  /* ######### REMOVER VAR ANTIGAS ######### */

  --headings-font: "Source Serif Pro", sans-serif;
  --paragraph-font: "Inter", sans-serif;
  --code-font: "JetBrains Mono;", monospace;
  --button-font: "Inter", sans-serif;
  --button-font-cta: "Space Grotesk", sans-serif;

  /* --- Paragraph Font ---*/
  --paragraph-font-family: "Inter", sans-serif;
  --paragraph-font-letter-spacing: -0.5px;
  --paragraph-font-line-height: 27px;
  --paragraph-font-weight: 400;

  --quote-font-family: "Source Serif Pro", serif;
  --quote-font-letter-spacing: -0.1px;
  --quote-font-line-height: 30px;
  --quote-font-weight: 400;

  /* ------ Font Size ------- */
  --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --font-size-xxl: clamp(2.2rem, 1.2vw + 2.0rem, 4.0rem);
  --font-size-xxxl: clamp(2.8rem, 2.0vw + 4.2rem, 4.8rem);
}

/* --- Body --- */

body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background-color: var(--color00);
}

/* ------------ Headings ----------- */

.center {
  text-align: center;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

h1 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: -1.8px;
  line-height: 1.0em;
  margin: 0px 0px 8px 0px;
  padding: 0px 0px;
}


h2 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 2.8rem;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
}

h3 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-md);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.6rem;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;

}

h4 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  letter-spacing: -1px;
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
}

h5 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-base);
  font-weight: 400;
  letter-spacing: -1px;
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
}

h6 {
  color: #383838;
  font-family: var(--headings-font);
  font-size: var(--font-size-base);
  font-weight: 400;
  letter-spacing: -1px;
  margin: 5px 0px 5px 0px;
  padding: 0px 5px;
}

p {
  font-family: var(--paragraph-font-family);
  font-size: var(--font-size-base);
  font-style: var(--font-style-normal);
  font-weight: var(--paragraph-font-weight);
  font-feature-settings: 'cv11'on;
  letter-spacing: var(--paragraph-font-letter-spacing);
  line-height: var(--paragraph-font-line-height);
  margin: 5px 0px 5px 0px;
  text-align: justify;
  text-justify: inter-word;
  color: #383838;
}

.signatura{
  font-family: var(--paragraph-font-family);
  font-size: var(--font-size-base);
  font-style: var(--font-style-normal);
  font-weight: var(--paragraph-font-weight);
  font-feature-settings: 'cv11'on;
  letter-spacing: var(--paragraph-font-letter-spacing);
  line-height: var(--paragraph-font-line-height);
  margin: 5px 0px 5px 0px;
  text-align: justify;
  text-justify: inter-word;
  color: #383838;
}

b {
  font-weight: 500;
}

q {
  color: #818181;
  font-family: var(--quote-font-family);
  font-size: var(--font-size-base);
  font-style: italic;
  font-weight: 500;
  letter-spacing: var(--paragraph-font-letter-spacing);
  line-height: var(--paragraph-font-line-height);
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  background: #ffffff00;
  color: var(--black60);
  font-family: var(--quote-font-family);
  font-size: var(--font-size-md);
  font-style: italic;
  font-weight: 400;
  letter-spacing: var(--quote-font-letter-spacing);
  line-height: var(--quote-font-line-height);
  margin: 0px 0px 0px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px 30px 15px 25px;
  text-align: center;
  text-justify: inter-word;
}

pre code {
  background-color: #271036;
  border-radius: 0px;
  border: 1px solid #0000002a;
  color: #13ffff;
  display: block;
  font-family: var(--code-font);
  padding: 0px 10px 15px 25px;
  white-space: pre-line;
}

code {
  background-color: #271036;
  border-radius: 0px;
  color: #13ffff;
  font-family: var(--code-font);
  font-weight: 300;
  padding-left: 10px;
  padding: 3px 5px 3px 5px;
  text-align: left;
  white-space: pre;
}


/* --- New Containers --- */

.div-size{
  width: 95%;
}

.Father-Container {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 0px;
  border: 0px solid #ffffff;
  background-color: var(--color00);
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}


.Container-Black {
  background-color: var(--color00);
}

.Container-White {
  background-color: var(--color00);
}


.Navbar-Container {
  display: flex;
  padding: 2.8em 2.4em;
  justify-content: center;
}

.Header-Container {
  display: flex;
  padding: 1.8em 4.8em;
  row-gap: 64px;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72vh;
}

.Container-Default {
  display: flex;
  padding: 4.8em 0em;
  width: 84%;
  margin: auto;
  flex-direction: column;
  align-items: stretch;
  /* Ajusta a altura das flexboxes para o tamanho do conteúdo */
  align-content: stretch;
  /* Ajusta a altura do container flex para o tamanho do conteúdo */
}

.ContentBoxFlex {
  display: flex;
  padding: 2.8em 0em;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
}

.FlexBox {
  background-color: var(--color00);
  flex: 1 0 calc(33.33% - 16px);
  box-sizing: border-box;
  border-radius: 0px;
  padding: 18px 22px;
  border: 1px solid var(--black10);
  transition: all 0.3s ease-in-out;
}

.FlexBox:hover {
  background-color: var(--black01);
  border-color: var(--black30);
}

.FlexBox:active {
  border: 1px solid var(--black90);
}

.Flex-Inner {
  padding: 22px 0px 0px 4px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start
}

.Footer {
  background-color: var(--color00);
  font-feature-settings: 'cv11'on;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 1.8em 0em;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  gap: 18px 0px;
  align-items: center;
  flex-direction: row;
  font-family: var(--paragraph-font);
  font-size: var(--font-size-sm);
}






/* --- End of New Containers --- */
/* --- 🤸🏽‍♀️⛹🏽‍♂️🏋🏽‍♀️ --- */






/*--- White ---*/
#White {
  background-color: var(--color00);
}

#White:hover {
  background-color: var(--color00);
  opacity: 90px;
}

/*--- Grey ---*/
#Grey {
  background-color: var(--color01);
}

#Grey:hover {
  background-color: var(--color01);
}

/*--- Green ---*/
#Green {
  background-color: var(--color02);
}

#Green:hover {
  background-color: var(--color02);
}

/*--- Red ---*/
#Red {
  background-color: var(--color03);
}

#Red:hover {
  background-color: var(--color03);
}

/*--- Blue ---*/
#Blue {
  background-color: var(--color04);
}

#Blue:hover {
  background-color: var(--color04);
}

/*--- Yellow ---*/
#Yellow {
  background-color: var(--color05);
}

#Yellow:hover {
  background-color: var(--color05);
}



/* ------- Elements Inside Elements Content -------*/

.ProfileCard {
  color: var(--color06);
  display: grid;
  height: 450px;
  margin: 0px 0px 25px 0px;
  padding: 5px;
}

.ProfileCard>.ProfileCardContent {
  width: 100%;
  height: 100%;
}

.ProfileCardContent {
  background-color: #aaffdc00;
  height: 300px;
  margin: auto;
  max-width: 95%;
  min-width: auto;
  padding: 0%;
  width: 100%;
}

.ProfilePicture {
  background-color: #ffffff;
  border-radius: 1000px;
  border: 0px dotted #ffffff;
  height: 100%;
  margin: auto;
  max-width: 100%;
  min-width: auto;
  padding: 10px;
  width: 250px;
}

.ProfileImage {
  border: 0px dotted #ffffff00;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 100%;
  min-width: auto;
}


.ProfileBio {
  background-color: #51fff600;
  padding: 0px;
}

.PageTitle {
  font-family: var(--paragraph-font);
  color: var(--color06);
  font-weight: 400;
  font-size: var(--font-size-xxl);
  font-feature-settings: 'ss04'on, 'ss03'on, 'ss02'on, 'ss01'on, 'salt'on;
  margin: 14px 0px;
  padding: 0px;
  letter-spacing: -1px;
  line-height: 1.2em;
  text-align: justify;
}

.PageTitle::after {
  content: '';
  display: inline-block;
  width: 10px;
  background-color: black;
  margin-left: 5px;
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}


.SocialAbout {
  color: var(--color00);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px 0px;
  padding: 24px auto;
  animation: fadeInUp;
  font-size: var(--font-size-xl);
}

.SocialButton {
  display: flex;
  width: 34px;
  height: 34px;
  padding: 4px;
  align-items: center;
  gap: 0em 2.2em;
  border-radius: 8px;
  margin: 0px 4px;
  justify-content: center;
  font-size: var(--font-size-md);
}

.SocialButton:hover {
  background-color: var(--black10);
}

.Subtitle {
  animation: fadeInUp;
  color: #292929;
  font-family: var(--paragraph-font-family);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 27px;
  margin: 5px 0px 25px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-justify: inter-word;
}

.Social {
  text-align: center;
}

.Social_Icons {
  color: var(--color04);
  font-size: 35px;
  text-align: center;
}

/* ------- Text areas "Box of elements" ------- */

.Box_Text_Center {
  font-size: var(--font-size-base);
  margin: auto;
  text-align: center;
}

.SpaceBar {
  background-color: rgb(255, 43, 43);
  height: 1px;
  margin: 200px 0px 10px 0px;
  max-width: auto;
  min-width: auto;
  padding: 5px;
  width: auto;
}

.TargetBar {
  align-items: center;
  background-color: #ffe134;
  border-radius: 0px;
  border: 0px solid #00000011;
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 0px 0px 20px 0px;
  max-width: auto;
  min-width: auto;
  padding: 25px;
  text-align: center;
  width: auto;
}

/*------- iFrames --------*/
.BoxCenter {
  width: 560px;
  min-width: 250px;
  margin: 0 auto;
  padding: 0px;
  background-color: #77777700;
}

.NewsletterIframe {
  background-color: #ff000000;
  border-style: none;
  display: block;
  height: 450px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.ContactIframe {
  background-color: #ff000000;
  border-style: none;
  display: block;
  height: 670px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.TextBox {
  background-color: var(--color00);
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.TextBoxBlue {
  background-color: var(--color04);
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.TextBoxRed {
  background-color: var(--color03);
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.TextBoxYellow {
  background-color: var(--color05);
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.TextBoxGreen {
  background-color: #cdff82;
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.TextBoxGray {
  background-color: #ebebeb;
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 5px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.MailBox {
  background: #fff9ee;
  border-radius: 0px;
  border: 1px solid var(--black05);
  color: var(--black90);
  font-size: var(--font-size-base);
  height: auto;
  margin: 5px 0px 0px 0px;
  max-width: auto;
  min-width: auto;
  padding: 15px;
  text-align: center;
  transition: all 0.3s;
  width: auto;
}

.SocialMailBox {
  padding: 15px 0px 25px 0px;
  text-align: center;
}

.SocialMailBoxMobile {
  padding: 15px 0px 25px 0px;
  text-align: center;
}

/* ------- Elements Inside Direct in Body ------- */

.chatbot {
  background: var(--color04);
  border-radius: 100px;
  bottom: 0px;
  box-shadow: 0px 5px 25px -7px #00000042;
  cursor: pointer;
  font-family: var(--paragraph-font-family);
  font-size: var(--font-size-base);
  margin: 18px 16px;
  padding: 16px 26px;
  position: fixed;
  right: 0px;
  text-align: center;
  transition: all 0.5s;
  width: auto;
  height: auto;
}

.chatbot:hover {
  animation: tada;
  animation-duration: 2s;
  opacity: 90px;
  background: var(--color04);
  box-shadow: 0px 0px 0px 0px #00000042;
}

.chatbot:active {
  border-radius: 10px;
}



.center {
  text-align: center;
  margin: auto;
}

.HeadingIcon {
  display: inline-block;
  font-size: 45px;
  float: left;
  background-color: var(--black05);
  text-align: center;
  border-radius: 0px;
  color: #000000e3;
  margin: 5px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;
}

.Headings {
  display: inline-block;
}

.CenterText {
  text-align: center;
}

.MailBoxText {
  text-align: center;
}

.SocialMailBox {
  text-align: center;
  align-content: center;
}




/*--------------------- Resposiver Grid Wrapper ------------------------*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

.box {
  transition: all 0.2s ease-in-out;
  background-color: #fafafa;
  color: #272727;
  border-radius: 0px;
  padding: 20px;
  width: auto;
  height: auto;
  max-width: auto;
  min-width: auto;
}

.box:hover {
  border-radius: 0px;
  background-color: #f0f0f09a;
  transition: all 0.3s ease-in-out;
}



/*--- Defaults -----*/

.radius-default-img {
  border-radius: 0px;
}

/*------- Line / Callout */

hr {
  height: 0px;
  width: 100%;
  margin: 3px 0px;
  border-color: #00000021;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/*--- Toggles list ---*/

input[type='checkbox'] {
  display: none;
}

.wrap-collabsible {
  margin: 1.2rem 0;
}

.lbl-toggle {
  display: block;
  font-family: var(--paragraph-font-family);
  font-size: var(--font-size-base);
  font-weight: 400;
  text-align: left;
  padding: 25px;
  color: var(--color06);
  background: var(--color00);
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: var(--black70);
  background: var(--color01);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .3s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: fit-content;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: var(--color00);
  border-top: 1px solid var(--black10);
  padding: 10px;
}

.collapsible-content p {
  margin-bottom: 16px;
}

/* ------------------ Links ---------------------------*/
a {
  color: var(--black60);
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  opacity: 90%;
  transition: all 0.5s ease-in-out;
}

.linkpost {
  background-color: var(--black01);
  border-bottom: 2px solid var(--black10);
  border-radius: 0px;
  color: #303030d8;
  letter-spacing: -0.7px;
  padding: 4px 3px 1px 3px;
}

.linkpost:hover {
  background-color: var(--black05);
  border-bottom: 2px solid var(--black10);
  border-radius: 0px;
  color: var(--black90);
  padding: 4px 3px 1px 3px;
}

.linkfeature {
  background-color: var(--black03);
  border-radius: 0px;
  color: var(--black60);
  letter-spacing: -0.7px;
  padding: 8px 12px 8px 12px;
  margin: 3px 0px;
}

.linkfeature:hover {
  color: var(--black95);
  background-color: var(--black05);
}

/*------------ Buttons -------------*/

.button-link {
  font-weight: 400;
  display: flex;
  gap: 0px 4px;
  font-size: var(--font-size-base);
  font-feature-settings: 'cv11'on;
  padding: 12px 8px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
  align-items: center;
}

.button-link:hover {
  opacity: 84%;
  transition: all 0.3s;
}

button {
  font-weight: 400;
  display: flex;
  gap: 2px 12px;
  font-size: var(--font-size-base);
  font-feature-settings: 'cv11'on;
  padding: 14px 32px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0.4em auto;
}

button:hover {
  opacity: 84%;
  gap: 8px 12px;
  transition: all 0.3s;
}

button:active {
  outline: none;
  border-radius: 0px;
  transition: all 0.3s;
}

.primary-button-default-black {
  /*Black*/
  color: var(--color00);
  border: 2px solid var(--color06);
  background-color: var(--color06);
  font-family: var(--paragraph-font-family);
}

.primary-button-default-white {
  /*White*/
  color: var(--color06);
  border: 2px solid var(--color00);
  background-color: var(--color00);
  font-family: var(--paragraph-font-family);
}


.secondary-button-black-unfilled {
  /* Black*/
  color: var(--color06);
  border: 2px solid var(--color06);
  background-color: transparent;
  font-family: var(--paragraph-font-family);
}

.secondary-button-white-unfilled {
  /* White*/
  color: var(--color00);
  border: 2px solid var(--color00);
  background-color: transparent;
  font-family: var(--paragraph-font-family);
}

.cta-button {
  font-family: var(--button-font-cta);
  color: var(--color00);
  border: 2px solid var(--color00);
  font-family: var(--paragraph-font-family);
  background-color: transparent;
}


.button-sm {
  padding: 0.6em 1.4em;
  font-size: var(--font-size-sm);
}

.button-md {
  padding: 0.8em 1.8em;
  font-size: var(--font-size-base);
}

.button-lg {
  padding: 1.0em 2.4em;
  font-size: var(--font-size-md);
}

/*--------- Buttons Full ------------*/

.btnFull {
  color: var(--black80);
  border: 1px solid var(--color01);
  background-color: var(--color01);
  margin: 3px 0px 3px 0px;
  border-radius: 0px;
  width: 100%;
}

.btnFull:hover {
  border: 1px solid var(--black05);
  background-color: var(--color01);
}


/*--------- Buttons Small ------------*/

.btnSmall {
  font-weight: 400;
  font-size: var(--font-size-sm);
  color: var(--black80);
  border: 1px solid var(--color01);
  background-color: var(--color01);
  padding: 6px 9px 6px 9px;
  margin: 3px 0px 3px 0px;
  border-radius: 0px;
}

.btnSmall:hover {
  border: 1px solid var(--black05);
  background-color: var(--color01);
}

/*----------- Hover Buttons -----------*/

.lock:hover .icon-regular,
.lock .icon-filled {
  display: none;
}

.lock:hover .icon-filled {
  display: inline;
}

/*---------------- Selection ------------*/

::-moz-selection {
  color: var(--color06);
  background: var(--color05);
  filter: invert(75%);
}

::selection {
  color: var(--color06);
  background: var(--color05);
  filter: invert(75%);
}

/*------------- Scrollbar -------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

/* -------------- Scroll Menu "Section" ------------ */

.scrollmenu {
  background-color: #a18b2900;
  border-radius: 0px;
  padding: 5px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.ScrollLink {
  flex: auto;
  color: black;
  padding: 15px 20px 15px 20px;
  margin: 5px 5px 5px 5px;
  border-radius: 0px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.ScrollLink:hover {
  color: black;
  background-color: #ffffffee;
  transition: all 0.3s ease-in-out;
}

.ScrollLink:active {
  outline: none;
  border-radius: 0px;
  background-color: #ffffffee;
  transition: all 0.3s ease-in-out;
}

/*----------------- FlexBox / GridBox / Text FlexBox ----------------------*/

/* --- Buttons Grid --- */

.ButtonsGrid {
  display: grid;
  grid-gap: 4px;
  align-items: center;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/*-- Grid Box --*/

.ContentBoxGrid {
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  font-family: var(--paragraph-font-family);
}

.GridBox {
  flex: auto;
  display: Grid;
  color: hsla(0, 0%, 0%, 0.8);
  padding: 15px 20px 15px 20px;
  margin: auto;
  border-radius: 0px;
  background-color: #fafafa;
  border: 2px solid #00000001;
  transition: all 0.2s ease-out;
  align-content: stretch;
  justify-content: start;
  justify-items: start;
  align-items: start;
}

.GridBox:hover {
  border-radius: 0px;
  border: 2px solid #00000000;
  background-color: #f0f0f09a;
  transition: all 0.3s ease-in-out;
}

.GridBox:active {
  border: 2px solid #000000;
  transition: all 0.2s ease-in-out;
}

/*---- TextFlexBox -----*/

.TextFlexBoxContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.blue-column {
  padding: 21px;
}

.green-column {
  padding: 8px;
}

/* -End of Text Flex Box*/


.ContentBoxStand {
  background-color: #ffe67400;
  margin: 5px auto auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 0px;
}

.FlexBoxStand {
  flex: auto;
  width: auto;
  min-width: auto;
  max-width: auto;
  min-height: auto;
  padding: 15px;
  margin: 5px;
  background-color: #ffffff;
  border: solid 1px #0000000e;
  transition: all 0.3s ease-in-out;
}

.FlexBoxStand:hover {
  box-shadow: 0px 10px 9px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/*   .FlexBoxStand:nth-child(1) {
    color: #ffffffd2;
    background-color: #6868ac;
  } */


.ContentBoxHeader {
  background-color: #ffc37e;
  display: flex;
  padding: 0px;
}

/* ----- Flex Buttons ----- */

.FlexButtons {
  background-color: #ffe676a2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 0.1fr));
  align-content: center;
  justify-content: center;
}

#FlexButton {
  color: black;
  font-size: 55px;
  flex-direction: row;
  padding: 4px 0px 4px 0px;
  margin: 10px 3px 10px 3px;
  background-color: #ffffff00;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

/* ---- Trasparent Flexbox  ---*/

.FlexBoxNull {
  padding: 5px;
  border: 1px dashed #00c04a;
  transition: all 0.3s ease-in-out;
}

.FlexBoxNull:hover {
  transition: all 0.3s ease-in-out;
}

.imgradius {
  width: 100%;
  block-size: fit-content;
  display: block;
  overflow: auto;
  border-radius: 0px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

.imgradius:hover {
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
}

/* Icons color hover*/

.XboxIcon {
  color: #0000004d;
  transition: all 0.2s;
}

.XboxIcon:hover {
  color: #3cad3c;
  transition: all 0.2s;
}

.TwitterIcon {
  color: #0000004d;
  transition: all 0.2s;
}

.TwitterIcon:hover {
  color: #3191ff;
  transition: all 0.2s;
}

.BehanceIcon {
  color: #0000004d;
  transition: all 0.2s;
}

.BehanceIcon:hover {
  color: #181818;
  transition: all 0.2s;
}

/* ------------ Alert Box ------------*/

.alert {
  display: flex;
  padding: 18px 22px;
  margin: 5px 0px 10px 0px;
  font-family: var(--paragraph-font-family);
  color: var(--black80);
  border-radius: 0px;
  border: 1px solid var(--black05);
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
}

.danger {
  background-color: var(--color03);
}

.info {
  background-color: var(--color04);
}

.success {
  background-color: var(--color02);
}

.warning {
  background-color: var(--color05);
}

.closebtn {
  margin-left: 15px;
  display: flex;
  color: var(--black40);
  font-weight: 200;
  float: right;
  font-size: var(--font-size-md);
  line-height: 20px;
  cursor: pointer;
  font-size: 34px;
  transition: 0.3s;
  align-items: baseline;
}

.closebtn:hover {
  color: black;
}


/*----------------- Navbar ------------------------*/


.NavItens {

  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.Sponsor {
  background-color: #ff7497;
  color: #ffffff;
  border-radius: 999px;
  display: flex;
  padding: 9px;
  margin: 6px;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.NameLink {
  padding-left: 3px;
  font-size: var(--font-size-base);
}

div ul {
  display: flex;
  position: fixed;
  border-bottom-width: 1px;
  border: 1px solid var(--black10);
  background-color: #ffffff00;
  backdrop-filter: blur(18px);
  border-radius: 999px;
  padding: 0px 12px 0px 0px;
}

ul {
  display: flex;
  font-family: var(--paragraph-font);
  font-size: var(--font-size-base);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

li {
  float: left;
}

li a {
  align-items: center;
  border-radius: 10px;
  color: #555453;
  display: flex;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: var(--black95);
  border-radius: 10px;
}

.active {
  padding: 4px;
  margin: 2px;
  border-radius: 999px;
  float: left;
}

svg.iconify.iconify--system-uicons.iconify-inline {
  font-size: 29px;
}





/*------------ Pop Up -----------*/

.open-button {
  background-color: var(--color02);
  border: 0px solid var(--black95);
  bottom: 0px;
  box-shadow: 0px 5px 25px -7px #00000042;
  transition: all 0.8 ease-in-out;
  color: #000000ab;
  cursor: pointer;
  display: inline-block;
  font-family: var(--paragraph-font);
  font-size: var(--font-size-lg);
  font-weight: 400;
  left: 15px;
  padding: 5px;
  position: fixed;
  width: 55px;
  height: 55px;
  margin: 18px 16px;
}

.open-button:hover {
  border: 0px solid var(--black95);
  background-color: var(--color02);
  opacity: 5px;
}

/* The popup form - hidden by default */

.form-popup {
  animation-timing-function: 0.5s cubic-bezier(0.17, 0.67, 0.94, 0.59);
  animation: slideInUp;
  animation-duration: 0.5s;
  border: 0px solid #cecece;
  bottom: 0px;
  display: none;
  left: 0;
  right: 0;
  max-width: 100%;
  position: fixed;
  text-align: center;
  transition: all 0.8 ease-in-out;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  background-color: var(--color00);
  border-radius: 15px;
  box-shadow: 0px 0px 15px -5px var(--black20);
  border: 0px solid #cecece;
  max-width: 30%;
  padding: 46px 4px;
  margin: auto auto 100px 26px;
  transition: all 0.8 ease-in-out;

}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  transition: all 0.8 ease-in-out;
  border: none;
  margin: 5px 0 22px 0;
  padding: 15px;
  width: 100%;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #f1f1f1;
  border-radius: 100px;
  border: none;
  font-family: var(--paragraph-font);
  color: #464646;
  cursor: pointer;
  margin: 36px 5px;
  padding: 12px 16px 12px 16px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: var(--color03);
  border: 0px solid var(--black95);
  bottom: 0px;
  transition: all 0.8 ease-in-out;
  box-shadow: 0px 5px 25px -7px #00000042;
  color: #000000ab;
  cursor: pointer;
  display: inline-block;
  font-family: var(--paragraph-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  left: 15px;
  padding: 5px 16px;
  position: fixed;
  width: 130px;
  height: 55px;
  margin: 18px 16px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}