body {
  padding: 0px;
  margin: 0px;
  background-color: #f8f8f815;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #53535300;   
  padding: 0px 0px 0px 0px;
  position: fixed;
  margin: auto;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: auto;
  top: 0;
}

.navbar-container {
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 5px 10px -1px #000000d7;  
  border: 1px solid #00000011;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  backdrop-filter: blur(2px);
  background-color: #ffffffe7; 
  border-radius: 0px;
  padding: 0px;
  margin: auto;
  width: 100%;
}

/* ------- Navbar Menu ------- */

.BrandIcon{
  width: 50px;
}

#menu a {
  text-decoration:none;
}

#menu ul  {
  list-style:none;
 
}

#menu ul li {
  text-align: center;
  display:inline;
  margin: 0px 10px 0px 10px;
}

.cover {
  border-radius: 0px;
  background: rgb(255,0,234);
  background: linear-gradient(225deg, rgba(255,0,234,1) 0%, rgba(91,0,255,1) 46%, rgba(14,0,255,1) 100%);
  /*background-image: url("https://images.unsplash.com/photo-1629662182419-960a8596bba0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");*/
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: repeat-x;
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 450px;
}

/* ------- Body Container "All site content!" ------- */

.BodyContainer {
  background-color: #3b3b3b28;
  margin: auto;
  margin-top: -250px;
  padding: 10px;
  max-width: 1000px;
  min-width: auto;
}

/* ------- Elements Container "All site elements and Content" ------- */

.ElementsContainer {
  background-color: #5d90ffd8;  
  margin: auto;
  padding: 0px;
  max-width: 1000px;
  min-width: auto;
}

/*------------------------------------------*/

.Content {
  background-color: #6cffce;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
  min-width: auto;
}

/* ------- Elements Inside Elements Content ------- */

.ProfileCard {
  border: 1px solid #0000000e;
  background-color: #ffffff;
  margin: 10px 0px 25px 0px;
  border-radius: 35px;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: auto;
}

.ProfilePicture {
  border: 1px dotted #ff9f9f;

  background-color: #8a30d300;
  padding: 25px;
  width: 250px;
  height: 250px;
  max-width: 250px;
  min-width: auto;
  float: left;
}

.profilepic {
  border: 1px dotted #ff9f9f;

  border-radius: 100%;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 100%;
  min-width: auto;
}

.ProfileBio {
  border: 1px dotted #ff9f9f;

  background-color: #51fff600;
  float: left;
  padding: 15px;
}

.PageTitle {
  border: 1px dotted #ff9f9f;

  font-family: "Poppins", sans-serif;
  color: #00000000;
  -webkit-text-stroke: 1.5px #1a1a1a;
  font-weight: 700;
  font-size: 75px;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  letter-spacing: -1px;
  float: center;
  transition: all 0.2s ease-in-out;
  animation: flip;
  animation-duration: 1s;
}

.PageTitle:hover {
  transition: all 0.2s ease-in-out;
  -webkit-text-stroke: 1.5px #1a1a1a;
  color: #1a1a1a;
}

.Subtitle {
  border: 1px dotted #ff9f9f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #7a7a7a;
  letter-spacing: -0.7px;
  text-align: left;
  text-justify: inter-word;
  line-height: 27px;  
  margin: 5px 0px 25px 0px;
  padding: 0px 0px 0px 0px;
  animation: fadeInUp;
  animation-duration: 1s;
}

/* ------- Text areas "Box of elements" ------- */

.TextBox {
  color: #1a1a1a;
  background-color: #ffffff;
  border-radius: 18px;
  border: 0px solid #0000000e;
  margin: 15px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 25px 0px;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}

.TextBoxBlue{
  color: #ffffff;
  background-color: #2ba0ff;
  border-radius: 18px;
  border: 0px solid #0000000e;
  margin: 15px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 25px 0px;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}

.TextBoxYellow{
  color: #000000;
  background-color: #ffe134;
  border-radius: 18px;
  border: 0px solid #0000000e;
  margin: 15px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 25px 0px;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}

.TextBoxGreen{
  color: #000000;
  background-color: #72ff4f;
  border-radius: 18px;
  border: 0px solid #0000000e;
  margin: 15px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 25px 0px;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}
.TextBoxBlack{
  color: #ffffff;
  background-color: #000000;
  border-radius: 18px;
  border: 0px solid #0000000e;
  margin: 15px 0px 0px 0px;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 25px 0px;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}

.MailBox {
  margin: 15px 0px 0px 0px;
  background-color: #fdf5db;
  border-radius: 20px;
  border: 1px solid #0000000e;
  padding: 10px 10px 0px 10px;
  text-align: center;
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto;
}

.SocialMailBox {
  padding: 15px 0px 25px 0px;
  animation: fadeInUp;
  animation-duration: 1s;
  text-align: center;
}

.SocialMailBoxMobile {
  padding: 15px 0px 25px 0px;
  animation: fadeInUp;
  animation-duration: 1s;
  text-align: center;
}

/* ------- Elements Inside Direct in Body ------- */

.chatbot {
  background: #1fa5ff;
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 15px 15px 0px;
  transition: all 0.2s ease-in-out;
}

.chatbot:hover {
  transition: all 0.2s ease-in-out;
  background: #0099ff;
  color: #ffffff;
}

/* ------------ Footer ------------ */


.Footer {  
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 25px 0px 0px 0px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #0000000e;
  padding: 25px 10px 10px 10px;
  text-align: center;  
  width: auto;
  height: auto;  
  max-width: auto;
  min-width: auto; 
}


#FooterMenu a {
  text-decoration:none;
}

#FooterMenu ul  {
  list-style:none;
  padding: 0px;
 
}

#FooterMenu li {
  font-family: Roboto;
  text-align: center;
  display:inline;
  margin: auto;
  padding: 15px;
}