body {
  background-image: url("https://i.gifer.com/Qcl2.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #161412;
  padding: 0%;
  margin: 0px;
}

h1 {
  font-size: 25px;
  font-family: Poppins;
  color: #fff;
}

h2 {
  font-size: 15px;
  font-family: Roboto;
  color: #fff;
}

h3 {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 200;
  color: #fff;
}

a {
  text-decoration: none;
}

div.content {
  min-width: 280px;
  max-width: 500px;
  margin: auto;
  background-color: #00000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5%;
}

.ProfilePicture {
  border-radius: 100px;
  border: 5px solid #fff;
  float: left;
  margin: auto;
  margin-left: 5%;
  width: 100px;
  height: 100px;
}

.description {
  float: left;
  text-align: left;
  margin-left: 10%;
}

.Links {
  padding-top: 100px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #000000;
  box-shadow: #0000003a 0px 3px 5px 0px;
  color: #ffffff;
}

/* Style buttons */
.btn {
  background-color: #ffffff;
  box-shadow: #000000 0px 3px 0px 0px;
  border: none;
  border: 3px solid #000;
  border-radius: 7px;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  font-family: Roboto;
  margin: auto;
  margin-top: 15px;
  padding: 15px 15px 15px 15px;
  width: 100%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #000000;
  box-shadow: #0000003a 0px 3px 5px 0px;
  color: #ffffff;
}
