.NotesContainer {
  width: 500px;
  margin: auto;
  margin-top: 5%;
}

.danger {
  background-color: #ffefef;
  border-radius: 10px;
  border: 2px solid #d81919;
  color: #a02525;
  font-family: Roboto;
  box-shadow: #d81919 -5px 5px 0px 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  display: flex;
  transition: all 0.1s ease-in-out;
}

.success {
  background-color: #effffa;
  border-radius: 10px;
  border: 2px solid #00b837;
  color: #00583d;
  font-family: Roboto;
  box-shadow: #00b837 -5px 5px 0px 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  display: flex;
}

.info {
  background-color: #f0f7ff;
  border-radius: 10px;
  border: 2px solid #0163e4;
  color: #0163e4;
  font-family: Roboto;
  box-shadow: #0163e4 -5px 5px 0px 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  display: flex;
}

.warning {
  background-color: #fffcf2;
  border-radius: 10px;
  border: 2px solid #ecb500;
  color: #64631d;
  font-family: Roboto;
  box-shadow: #ecb500 -5px 5px 0px 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  display: flex;
  transition: all 0.1s ease-in-out;
}

/* Whith sample */

.chicken {
  background-color: #ebebeb;
  border-radius: 10px;
  border: 2px solid #141414;
  color: #333333;
  font-family: Roboto;
  box-shadow: #141414 -5px 5px 0px 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  display: flex;
  transition: all 0.1s ease-in-out;
}

.NoteIcon {
  font-size: 25px;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: auto;
}

.NoteContent {
  display: flex;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 20px;
  margin-bottom: auto;
  text-align: justify;
}
