.danger {
  background-color: #ffdddd;
  border-radius: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: Roboto;
  box-shadow: #000 3px 3px 0px 0px;
  margin-bottom: 15px;
  padding: 4px 12px;
}

.success {
  background-color: #ddffdd;
  border-radius: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: Roboto;
  box-shadow: #000 3px 3px 0px 0px;
  margin-bottom: 15px;
  padding: 4px 12px;
}

.info {
  background-color: #e7f3fe;
  border-radius: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: Roboto;
  box-shadow: #000 3px 3px 0px 0px;
  margin-bottom: 15px;
  padding: 4px 12px;
}

.warning {
  background-color: #ffffcc;

  border-radius: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: Roboto;
  box-shadow: #000 3px 3px 0px 0px;
  margin-bottom: 15px;
  padding: 4px 12px;
}